<div class="container">

  <div class="title_header">
    <h1>List of every blogs</h1>
  </div>

  <div class="all_blogs">
    <div class="cards">
      <% @all_blogs.each do |blog| %>
        <div class="card">
          <div class="blog-photo">
            <%= cl_image_tag(blog.photo, :width=>40, :crop=>"scale") %>
          </div>
          <div class="blog-tag">
            <%= blog.tag %>
          </div>

          <!-- Follow Button -->

          <div id="blog-<%= blog.id %>">
            <%#= render 'blogs/blog' %>
            <% if current_user.following?(blog) %>
              <%= link_to "Unfollow", unfollow_blog_path(blog), method: :post, remote: true %>
            <% else %>
              <%= link_to "Follow", follow_blog_path(blog), method: :post, remote: true %>
            <% end %>
          </div>

          <!-- https://medium.com/@alexmartin1124/the-magic-of-the-acts-as-follower-gem-100089299233 -->
          <!-- <div class="button-outline" style="float: right">
            <%# if current_user.following?(@blog) %>
            <%#= button_to "Following", {action: 'unfollow', id: @blog.id}, method: 'post', class: 'btn btn-secondary btn-unfollow header-align', remote: true %>
            <%# else %>
            <%#= button_to "Follow", {action: 'follow', id: @blog.id}, method: 'post', class: 'btn btn-primary btn-follow header-align', remote: true %>
            <%# end %>
          </div> -->

          <div class="blog-name">
            <%= blog.name %>
          </div>
          <div class="blog-description">
            <%= blog.description %>
          </div>
        </div>
      <% end %>
    </div>
</div>

