<div class="container">

  <!-- Modal Title -->

  <div class="title_header">
    <h1>Handcrafted List of Blogs on <span class="highlighted-purple" id="header-typed-text">Growth</span></h1>
  </div>

  <div class="all_blogs">
    <div class="cards">
      <% @all_blogs.each do |blog| %>
        <div class="card card-size">

          <!-- Blog Logo -->

          <div>
            <%= cl_image_tag(blog.photo, :width=>60, class: "blog-logo") %>
          </div>

          <!-- Blog Name -->

          <div class="card-title blog-title">
            <h3><%= blog.name %></h3>
          </div>

          <!-- Follow Button -->

          <div id="blog-<%= blog.id %>" class="center-button">
            <% if user_signed_in? %>
              <%= render "blogs/blog", :blog => blog %>
            <% else %>
              <%= link_to "Follow", new_user_registration_path,  class: "button-outline", id: "sign-up-modal", "data-toggle" => "modal", 'data-target' => "#signupModal" %>
            <% end %>
          </div>

          <!-- Blog Tag -->

          <div>
            <i class="fas fa-tag blog-tag"> <%= blog.tag %></i>
          </div>

          <!-- Blog Description -->

          <div class="blog-description">
            <%= blog.description %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<!-- Signup Modal -->
<div>
  <div class="modal" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content form-login">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">Sign up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= render 'users/registrations/new' %>

      </div>
    </div>
  </div>
</div>

