
<div class="container">

  <!-- Modal Title -->

  <div class="title_header">
    <h1>Handcrafted List of Blogs on <span class="highlighted-purple" id="header-typed-text">Growth</span></h1>
  </div>

  <div class="all_blogs">
    <div class="cards">
      <% @all_blogs.each do |blog| %>
        <div class="card card-size">

          <!-- Blog Logo -->

          <div>
            <%= cl_image_tag(blog.photo, :width=>60, class: "blog-logo") %>
          </div>

          <!-- Blog Name -->

          <div class="card-title blog-title">
            <h3><%= blog.name %></h3>
          </div>

          <!-- Follow Button -->

          <div id="blog-<%= blog.id %>" class="center-button">
            <% if user_signed_in? %>
              <%= render "blogs/blog", :blog => blog %>
            <% else %>
              <%= link_to "Follow", new_user_registration_path,  class: "button-outline", id: "sign-up-modal", "data-toggle" => "modal", 'data-target' => "#signupModal", 'data-dismiss' => 'modal' %>
            <% end %>
          </div>

          <!-- Blog Tag -->

          <div>
            <!-- <i class="fas fa-tag blog-tag"> <%= blog.tag %></i> -->
          </div>

          <!-- Blog Description -->

          <div class="blog-description">
            <%= blog.description %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




