<div class="container">

  <div class="title_header">
    <h1>List of blogs</h1>
  </div>

  <div class="all_blogs">
    <div class="cards">
      <% @all_blogs.each do |blog| %>
        <div class="card">
          <div class="blog-logo">
            <%= cl_image_tag(blog.photo, :width=>30, :crop=>"scale") %>
          </div>
          <div class="blog-title">
            <%= blog.name %>
          </div>

          <!-- Follow Button -->

          <div id="blog-<%= blog.id %>" class="button-outline">
            <% if user_signed_in? %>
              <% if current_user.following?(blog) %>
                <%= link_to "Following", unfollow_blog_path(blog), method: :post, remote: true, id: "unfollow" %>
              <% else %>
                <%= link_to "Follow", follow_blog_path(blog), method: :post, remote: true, id: "follow" %>
              <% end %>
            <% else %>
              <%= link_to "Follow", new_user_registration_path %>
              <%#= link_to "Follow", new_user_registration_path, :id => 'signupModal', "data-toggle" => "modal", 'data-target' => '#signupModal' %>
            <% end %>
          </div>

          <div>
            <i class="fas fa-tag blog-tag"> <%= blog.tag %></i>
          </div>

          <div class="blog-description">
            <%= blog.description %>
          </div>
        </div>
      <% end %>
    </div>
</div>

