<div class="cards">
  <% @my_posts.each do |post| %>
    <div class="card">
      <%= link_to post.url, target: :_blank do %>
        <div class="card-img">
          <%= cl_image_tag(post.blog.photo, :radius=>50, :class => "img_logo") %>
          <%= image_tag(post.image, :class => "img_cover") %>
        </div>
        <div class="card-details">
          <div class="card-published">
            <i> Published <%= time_ago_in_words(post.published)%> ago.</i></div>
          <div class="card-title"> <h3><%= post.title %></h3> </div>
          <div class="card-description">
            <p><%= simple_format(post.description) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- random image -->
<!-- <img src="https://unsplash.it/1500/800" alt="image"> -->
