<div class="wrapper">
  <div class="main">

    <!-- navbar -->
    <div class="navbar navbar-expand-sm navbar-light navbar-blog">
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.svg", height: 40 %>
      <% end %>



   <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

      <!-- <div class="content">
        <div class="container-fluid"> -->

            <button class="navbar-toggler" type="button" id="sidebarCollapse" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
       <!--  </div>
      </div> -->
    </div>


    <!-- cards grid -->
    <div class="cards">
      <% @all_posts.each do |post| %>
        <% link_to post.title, post.url, :target => "_blank" %>
          <div class="card">
            <div class="card-img" style="background-image: url('https://unsplash.it/500/400?random')";></div>
            <div class="card-details">
              <div class="card-title"> <%= post.title %> </div>
              <div class="card-description"><%= post.description %></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>


  <!-- sidebar https://bootstrapious.com/p/bootstrap-sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="blogs-list">
      <p>BLOGS FOLLOWED</p>
      <% @all_blogs.each do |blog| %>
        <div class="blog-name">
          <%= blog.name %>
        </div>
      <% end %>
    </div>
  </nav>
</div>

