<div class="container-fluid">
  <div class="body-overlay"></div>
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand font-logo" href="#">Growth. Curation.</a>
    <a class="pink nav"><%= image_tag "hamburger.svg", height: 20 %></a>
    <!-- <i class="fas fa-bars nav"></i> -->
  </nav>

  <div class="push-right">
    <div class="blogs-list">
      <%= render "shared/blogs_list" %>
    </div>

    <div class="cta-sidebar">
      <button type="button" class="btn btn-flat" data-toggle="modal" data-target=".bd-blogs-modal-xl" id="cta-smart">Get Smarter</button>
    </div>

    <div class='login-bottom'>
      <% if user_signed_in? %>
        <button id="swal-logout"><i class="fas fa-power-off toggle"></i></button>
        <%= link_to '', destroy_user_session_path, method: :delete, id: "logout-user", class: "hidden" %>
      <% else %>
        <%= link_to('<i class="fas fa-power-off toggle"></i>'.html_safe, new_user_session_path, "data-toggle" => "modal", 'data-target' => "#loginModal", id: "login-user")  %>
      <% end %>
    </div>
  </div>

  <div class="posts-feed">

  <%= render "pages/posts_feed" %>

  </div>
</div>

<!-- Large Blogs modal -->

<div>
  <div class="modal fade bd-blogs-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="blog-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content white-bg">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= render 'blogs/blogs_modal' %>

      </div>
    </div>
  </div>
</div>


<!-- Large Profile modal -->

<div>
  <div class="modal fade bd-profile-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= render 'profile/profile_modal' %>

      </div>
    </div>
  </div>
</div>

<!-- blog show page -->
<!-- <div id='blog-content'>
    <%#= link_to 'View Blog', blog_path(blog), remote: true %>
</div> -->


