<div class="wrapper">
    <div class="main">

      <!-- navbar -->
      <div class="navbar navbar-expand-sm navbar-light navbar-blog">
        <!-- Logo -->
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo.svg", height: 40 %>
        <% end %>


     <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> -->

        <!-- <div class="content">
          <div class="container-fluid"> -->

        <button class="navbar-toggler" type="button" id="sidebarCollapse" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
         <!--  </div>
        </div> -->
        <div class="tagline">
          <h3>A moment of calm in the noisy world of growth and tech.</h3>
        </div>

      </div>

      <!-- cards grid -->
      <div class="cards">
        <% @all_posts.each do |post| %>
          <div class="card">
            <%= link_to post.url, target: :_blank do %>
              <%# @all_blogs.each do |blog| %>
                <!-- <div class="blog-photo">
                  <%#= cl_image_tag(post.blog.photo, :width=>40, :crop=>"scale") %>
                </div> -->
              <%# end %>
              <div class="card-img" style="background-image: url('https://unsplash.it/500/400?random')";></div>
              <div class="card-details">
                <div class="card-published">
                  <i> Published <%= time_ago_in_words(post.published)%> ago.</i></div>
                <div class="card-title"> <h3><%= post.title %></h3> </div>
                <div class="card-description">
                  <p><%= simple_format(post.description) %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <!-- sidebar https://bootstrapious.com/p/bootstrap-sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="blogs-list">
      <p>BLOGS FOLLOWED</p>
      <% @all_blogs.each do |blog| %>
        <div class="blog-combo">
          <div class="blog-photo">
            <%= cl_image_tag(blog.photo, :width=>25, :crop=>"scale") %>
          </div>
          <div class="blog-name">
            <%= blog.name %>
          </div>
        </div>
      <% end %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">All blogs</button>
    </div>
  </nav>
</div>

<!-- Large Blogs modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">

        <div class="title_header">
          <h1>List of every blogs</h1>
        </div>

        <div class="all_blogs">
          <div class="cards">
            <% @all_blogs.each do |blog| %>
              <div class="card">
                <div class="blog-photo">
                  <%= cl_image_tag(blog.photo, :width=>40, :crop=>"scale") %>
                </div>
                <div class="blog-tag">
                  <%= blog.tag %>
                </div>
                <button type="button" class="btn btn-primary">Follow</button>
                <div class="blog-name">
                  <%= blog.name %>
                </div>
                <div class="blog-description">
                  <%= blog.description %>
                </div>
                <div class="blog-url">
                  <%= blog.url %>
                </div>
              </div>
            <% end %>
          </div>
      </div>

    </div>
  </div>
</div>
