<div class="wrapper">
    <div class="main">

      <!-- navbar -->
      <div class="navbar navbar-expand-sm navbar-light navbar-blog">
        <!-- Logo -->
        <div class="logo">
          <%= link_to root_path, class: "navbar-wagon-brand" do %>
            <%= image_tag "logo.svg", height: 40 %>
          <% end %>
        </div>

        <!-- <div class="tagline-search"> -->
        <!-- Search Bar  -->
        <div class="search-bar">
          <%= simple_form_for :search, url: root_path, method: :get do |f| %>
            <div class="search-form-control form-group">
              <input class="form-control string required" type="text" name="search[query]" id="search_query" />
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          <% end %>
        </div>

        <!-- tagline -->
        <!-- <div class="tagline">
          <h5>A moment of calm in the noisy world of growth and tech.</h5>
        </div> -->

        <!-- </div> -->

        <button class="navbar-toggler" type="button" id="sidebarCollapse" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

      </div>

      <!-- cards grid -->
      <div class="posts-feed">

        <%= render "pages/posts_feed" %>

      </div>
    </div>

  <!-- sidebar https://bootstrapious.com/p/bootstrap-sidebar -->
  <nav id="sidebar">
    <!-- <div class="sidebar-header">

      <#% if user_signed_in? %>
        <#% if current_user.avatar.present? %>
          <button type="button" data-toggle="modal" data-target=".bd-profile-modal-xl"><%#= cl_image_tag(current_user.avatar, alt: "avatar-large") %></button>
        <#% else %>
          <button type="button" data-toggle="modal" data-target=".bd-profile-modal-xl"><%#= cl_image_tag('profile.svg') %></button>
        <#% end %>
      <#% else %>
        <button type="button" data-toggle="modal" data-target=".bd-profile-modal-xl"><%#= cl_image_tag("profile.svg", alt: "avatar-large") %></button>
      <#% end %>

    </div> -->

    <div class="blogs-list">

      <%= render "shared/blogs_list" %>

    </div>

    <button type="button" class="btn btn-flat" data-toggle="modal" data-target=".bd-blogs-modal-xl"><i class="fas fa-lightbulb"></i> More Blogs</button>

    <div class='login-bottom'>
      <% if user_signed_in? %>
        <button id="sweet-alert"><i class="fas fa-power-off toggle"></i></button>
        <%= link_to '', destroy_user_session_path, method: :delete, id: "logout-user", class: "hidden" %>
      <% else %>
        <%= link_to('<i class="fas fa-power-off toggle"></i>'.html_safe, new_user_session_path)  %>
      <% end %>
    </div>
  </nav>
</div>

<!-- Large Blogs modal -->

<div>
  <div class="modal fade bd-blogs-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content light-gray">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= render 'blogs/blogs_modal' %>

      </div>
    </div>
  </div>
</div>


<!-- Large Profile modal -->

<div>
  <div class="modal fade bd-profile-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= render 'profile/profile_modal' %>

      </div>
    </div>
  </div>
</div>

<!-- blog show page -->
<!-- <div id='blog-content'>
    <%#= link_to 'View Blog', blog_path(blog), remote: true %>
</div> -->
